In [24]:
# we need to import required libraries. that is:-
import numpy as np
import pandas as pd
# Read csv file
df = pd.read_csv('hacker_news.csv')
df

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386.0,52.0,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2.0,1.0,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3.0,1.0,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8.0,2.0,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53.0,22.0,Deinos,10/31/2015 9:48
...,...,...,...,...,...,...,...
18721,12005432,Red Falcon Run Tournament Open Beta Test for P...,NaN,1.0,1.0,Krojyn,6/29/2016 22:57
18722,11055400,McCollough Effect change your brain for a pro...,http://www.michaelbach.de/ot/col-McCollough/,7.0,1.0,stared,2/7/2016 22:59
18723,12535046,Ask HN: Deep learning attack vectors,NaN,5.0,1.0,gtirloni,9/19/2016 21:48
18724,11941758,Ethereum is Doomed,http://nakamotoinstitute.org/mempool/ethereum-...,299.0,209.0,kushti,6/20/2016 21:33
18725,10768532,Autism in Women Is Misunderstood,http://www.theatlantic.com/health/archive/2015...,NaN,NaN,NaN,NaN

In [10]:
# This is how to get the first five rows

df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386.0,52.0,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2.0,1.0,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3.0,1.0,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8.0,2.0,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53.0,22.0,Deinos,10/31/2015 9:48

In [11]:
# To get the last five rows, run the below code
df.tail()

,id,title,url,num_points,num_comments,author,created_at
18721,12005432,Red Falcon Run Tournament Open Beta Test for P...,NaN,1.0,1.0,Krojyn,6/29/2016 22:57
18722,11055400,McCollough Effect change your brain for a pro...,http://www.michaelbach.de/ot/col-McCollough/,7.0,1.0,stared,2/7/2016 22:59
18723,12535046,Ask HN: Deep learning attack vectors,NaN,5.0,1.0,gtirloni,9/19/2016 21:48
18724,11941758,Ethereum is Doomed,http://nakamotoinstitute.org/mempool/ethereum-...,299.0,209.0,kushti,6/20/2016 21:33
18725,10768532,Autism in Women Is Misunderstood,http://www.theatlantic.com/health/archive/2015...,NaN,NaN,NaN,NaN

In [12]:
# To get the title column as pandas series, run the below code
title = df['title']
title

0                                Interactive Dynamic Video
1        Florida DJs May Face Felony for April Fools' W...
2             Technology ventures: From Idea to Enterprise
3        Note by Note: The Making of Steinway L1037 (2007)
4        Title II kills investment? Comcast and other I...
                               ...
18721    Red Falcon Run Tournament Open Beta Test for P...
18722    McCollough Effect  change your brain for a pro...
18723                 Ask HN: Deep learning attack vectors
18724                                   Ethereum is Doomed
18725                     Autism in Women Is Misunderstood
Name: title, Length: 18726, dtype: object

In [13]:
#To count the number of rows and columns, you need to filter titles that contains python, javascript using the shape attribute.
df.shape

(18726, 7)

In [14]:
# To filter titles that contain python, run
df[df['title'].str.lower().str.contains('python')]

,id,title,url,num_points,num_comments,author,created_at
102,10974870,From Python to Lua: Why We Switched,https://www.distelli.com/blog/using-lua-for-ou...,243.0,188.0,chase202,1/26/2016 18:17
103,11244541,Ubuntu 16.04 LTS to Ship Without Python 2,http://news.softpedia.com/news/ubuntu-16-04-lt...,2.0,1.0,_snydly,3/8/2016 10:39
144,10963528,Create a GUI Application Using Qt and Python i...,http://digitalpeer.com/s/c63e,21.0,1.0,zoodle,1/24/2016 19:01
196,10716331,How I Solved GCHQ's Xmas Card with Python and ...,http://matthewearl.github.io/2015/12/10/gchq-x...,6.0,1.0,kipi,12/11/2015 10:38
436,11895088,"Unikernel Power Comes to Java, Node.js, Go, an...",http://www.infoworld.com/article/3082051/open-...,3.0,1.0,syslandscape,6/13/2016 16:23
...,...,...,...,...,...,...,...
18273,12243293,How to kill yourself in Python,http://jugad2.blogspot.com/2016/08/how-to-kill...,7.0,2.0,vram22,8/7/2016 19:33
18312,10752028,Why Python 3 Exists,http://www.snarky.ca/why-python-3-exists,418.0,266.0,cocoflunchy,12/17/2015 15:34
18421,12027874,Show HN: Stack overflow command line client ad...,https://github.com/gautamkrishnar/socli,1.0,1.0,gautamkrishnar,7/3/2016 22:12
18536,11377504,Python one-liner to compare two files (conditi...,http://jugad2.blogspot.com/2016/03/python-one-...,1.0,9.0,vram22,3/28/2016 21:21
18649,12382086,Python vs. C/C++ in embedded systems,https://opensource.com/life/16/8/python-vs-cc-...,34.0,55.0,opensourcedude,8/29/2016 14:35

In [15]:
# Run the below codes to seee titles that contain JavaScript
df[df['title'].str.lower().str.contains('javascript')]

,id,title,url,num_points,num_comments,author,created_at
267,12352636,Show HN: Hire JavaScript - Top JavaScript Talent,https://www.hirejs.com/,1.0,1.0,eibrahim,8/24/2016 15:16
580,10871330,Python integration for the Duktape Javascript ...,https://pypi.python.org/pypi/pyduktape,3.0,1.0,stefano,1/9/2016 14:26
811,10741251,Ask HN: Are there any projects or compilers wh...,NaN,1.0,2.0,ggonweb,12/15/2015 23:26
1046,11343334,"If you write JavaScript tools or libraries, bu...",https://medium.com/@Rich_Harris/how-to-not-bre...,48.0,19.0,callumlocke,3/23/2016 10:54
1093,10422726,Rollup.js: A next-generation JavaScript module...,http://rollupjs.org,57.0,17.0,dmmalam,10/21/2015 0:02
...,...,...,...,...,...,...,...
18210,10448839,Famo.us pivots from JavaScript engine to micro...,http://famous.co/,20.0,7.0,dylanpyle,10/25/2015 23:06
18251,10331683,Immutable Data Structures and JavaScript,http://jlongster.com/Using-Immutable-Data-Stru...,177.0,70.0,jlongster,10/5/2015 13:36
18253,10980055,Ask HN: What are examples of large websites wi...,NaN,2.0,1.0,kluck,1/27/2016 14:16
18591,10445449,Show HN: Prolog compiler and interpreter in pu...,http://prolog.jldupont.com/,15.0,4.0,jldupont,10/25/2015 0:40
18646,11764671,Speed up JavaScript crypto,https://github.com/xlab-si/e2ee-client/wiki/Sp...,3.0,3.0,mihas,5/24/2016 19:19

In [16]:
# Explore the data and make sense of it. 
# I will use the describe function to get some summary statistics:
summary = df.describe()
print("Summary statistics:\n", summary)

Summary statistics:
                  id    num_points  num_comments
count  1.872600e+04  18725.000000  18725.000000
mean   1.131751e+07     50.331482     24.811749
std    6.971620e+05    107.552900     56.102819
min    1.017692e+07      1.000000      1.000000
25%    1.070114e+07      3.000000      1.000000
50%    1.128421e+07      9.000000      3.000000
75%    1.192700e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000

In [17]:
# I will use the value_counts function to count the number of occurrences of each value in a column:
num_comments = df['num_comments'].value_counts()
print("Number of comments:\n", num_comments)

Number of comments:
 1.0      6422
2.0      2295
3.0      1187
4.0       725
5.0       514
         ...
519.0       1
340.0       1
448.0       1
368.0       1
426.0       1
Name: num_comments, Length: 384, dtype: int64

In [22]:
# Count the number of unique values in the 'title' column
print(df['title'].nunique())

18598

In [23]:
# Count the number of occurrences of each value in the 'title' column
print(df['title'].value_counts())

Calculus Is So Last Century                                                        3
400Gbps: Winter of Whopping Weekend DDoS Attacks                                   3
He Was a Hacker for the NSA and He Was Willing to Talk. I Was Willing to Listen    3
SHA-1 Deprecation: No Browser Left Behind                                          3
Were in a brave, new post open source world                                        3
                                                                                  ..
5 Growth Hacking Articles You Should Read                                          1
Show HN: Measure ad blocking rate by device type and country                       1
I Turned Off JavaScript for a Week                                                 1
A first peek behind the scenes of Hillary Clintons technology operation            1
Autism in Women Is Misunderstood                                                   1
Name: title, Length: 18598, dtype: int64